@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2")
    url("../fonts/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
    url("../fonts/gilroyextrabold.woff2") format("woff2")
    url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2");
}
body {
  min-width: 1160px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.full-width {
 width: 100%;
 max-width: 1160px;
 margin: 0 auto;
}
button.btn-device {
  border: none;
  background-color: transparent;
}
b, h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
}
.main-header-logo {
  position: relative;
  top: -20px;
  left: 60px;
}
.main-header {
  margin-top: 40px;
  min-height: 210px;
  background-color: #f7e296;
}
div.slide-header {
  position: relative;
  top: 10px;
  height: 130px;
  background-color: #f7e296;
}
.slider {
  display: flex;
  flex-direction: column;
  height: 616px;
}
.main-navigation {
  display: flex;
  flex-direction: column;
}
.slider ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}
.slide {
  top: -50px;
  height: auto; 
  display: flex;
  flex-direction: column;
  position: relative;
}
.slide-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -23px;
  z-index: 2;
}
.slide-image {
  display: flex;
  width: 50%;
}
.slide-image img {
  margin-left: 90px;
  position: relative;
  top: -78px;
}
.slider-controls {
  z-index: 5;
  width: 80px;
  position: relative;
  left: 1050px;
  bottom: 280px;
}
b.slide-header, .slide-description, .more-info, .more-info-descriptions {
  display: inline-block;
  margin-left: 20px;
}
.more-info {
  width: 160px;
  padding-left: 30px;
  padding-right: 30px;
}
.more-info-descriptions {
  position: relative;
  top: 85px;
}
.main-header-logo img:hover, .logo-footer img:hover {
  opacity: 0.6;
}
.main-header-logo img:active, .logo-footer img:active {
  opacity: 0.3;
}
.menu-container {
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: row;
}
.container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.user, .dropdown-menu, .main-menu, .search-form {
  padding: 0px;
  list-style: none;
  display: flex;
}
.user .compare::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 10px;
  margin-right: 6px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}
.user .login::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 10px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}
.user .cart::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 6px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}
.dropdown-menu, .main-menu {
  margin-top: 34px;
  margin-bottom: 35px;
}
.search-form, .user {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
}
.main-menu {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  margin-right: 60px;
}
.main-menu li {
  margin-right: 35px;
}
.main-menu .right-wrapper {
  margin-right: 0px;
}
.user, .right-wrapper {
  margin-left: auto;
  width: 50%;
}
.right-wrapper ul {
  margin-left: 20px;
  list-style: none;
  padding: 0;
  display: flex; 
  flex-direction: row;
}
.main-menu .contacts {
  margin-left: 72px;
  margin-right: -4px;
}
.catalog-menu {
  padding: 0px;
  display: flex;
  flex-direction: row;
  min-height: 130px;
  background-color: #f7e296;
  position: absolute;
  width: 1160px;
  z-index: 3;
}
.catalog-menu .col-items {
  list-style: none;
}
.catalog-menu .col-items:first-child {
  padding-left: 0px;
}
.user .cart {
  margin-left: 38px;
}
.search {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.3);
}
.login {
  margin-left: 20px;
  margin-right: auto;
}
.user a, .catalog-menu a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
.user a:hover, .catalog-menu a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.user a:active, .catalog-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-menu, .dropdown-menu {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.main-menu a, .dropdown-menu a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.main-menu a:hover, .catalog:hover {
  color: rgba(0, 0, 0, 0.6);
}
.main-menu a:active, .catalog:active {
  color: rgba(0, 0, 0, 0.3);
}
.user, .catalog-menu {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
}
.category {
  font-size: 47px;
  letter-spacing: 0.01em;
}
.btn-device {
  font-family: "Gilroy", "Arial", sans-serif;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 40%, rgba(240, 197, 46, 1) 33%, rgba(240, 197, 46, 1) 60%, transparent 60%);
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 0.2em;
}
a.btn-device {
  display: inline-block;
  line-height: 40px;
}
.btn-device:hover {
  background-image: none;
  background-color: rgba(240, 197, 46, 1);
}
.btn-device:active {
  color: rgba(0, 0, 0, 0.3);
}
.btn-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.btn-compare:hover {
  color: #000000;
}
.btn-compare:active {
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: 17px;
  padding-left: 60px;
  padding-top: 35px;
  padding-bottom: 46px;
  background-color: #ffffff;
}
.breadcrumbs ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.breadcrumbs-arrow a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.breadcrumbs-arrow a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs-arrow a:active {
  color: rgba(0, 0, 0, 0.2);
}
.main-wrapper {
  display: flex; 
  flex-direction: row;
}
.filter, .sort {
  background-color: #efefef;
}
.filter {
  width: 469px;
}
.sort {
  display: flex;
  flex-direction: row;
}
.sorts {
  position: relative;
  left: 100px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
}
.sorts li {
  line-height: 70px;
  display: flex;
  flex-direction: row;
}
.filter-header, .sort-header {
  letter-spacing: 0.26em;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 70px;
}
.sort-header {
  margin-left: 70px;
}
.filter-header {
  width: 469px;
  background-color: #dbdbdb;
}
.filter-header b {
  margin-left: 200px;
}
div.sort {
  width: 60%;
  display: flex;
  flex-direction: row;
}
.sort-item a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}
.sort-item a:hover, .sort-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}
.sort-item a:active, .sort-item.selected a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.filter-wrapper {
  margin-left: 200px;
}
.filter-controls ul {
  list-style: none;
  padding-left: 20px;
}
.filter-controls input[type="checkbox"]::before {
}
.filter-checkbox, .filter-radio {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.items .catalog-items, .items .bar-pages {
  padding: 0;
  list-style: none;
  margin-left: 72px;
  margin-top: 0px;
  width: 760px;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.item-description {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.slide-number {
  display: block;
  text-align: right;
  padding-right: 50px;
  position: relative;
  top: -14px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 180px;
  color: #ffffff;
}
.slide-header {
  font-size: 47px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.slide-description {
  position: relative;
  top: 5px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 2.0;
  letter-spacing: 0.01em;
}
.controls-wrapper {
  display: flex;
  flex-direction: row;
}
.more-info-descriptions {
  border-collapse: collapse;
}
.more-info-descriptions td {
  width: 150px;
  min-height: 120px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  padding: 0;
}
.more-info-descriptions th {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  padding-top: 15px;
}
section.popular {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul.popular {
  width: 100%;
  min-width: 1160px;
  display: flex;
  list-style: none;
  margin-top: -45px;
  padding: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.popular-image {
  display: flex;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.6);
}
.popular-image img {
  margin: auto;
}
.popular-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.popular-item a {
  display: flex;
  width: 160px;
  flex-direction: column;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}
.popular-image:hover {
  background-color: rgba(240, 197, 46, 1);
}
.popular-image img:active {
  opacity: 0.3;
}
.popular-item a:active {
  color: rgba(0, 0, 0, 0.3);
}
.popular-header {
  padding-top: 30px;
  padding-bottom: 40px;
  line-height: 1.5;
}
.servises {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  width: 100%;
  min-height: 290px;
  background-color: #e5e5e5;
  justify-content: space-around;
}
.servises-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -95px;
}
.servises-description {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.servises-description h2 {
  position: relative;
  top: -10px;
  font-size: 47px;
  margin: 0px;
  letter-spacing: 0.02em;
}
.servises-description p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  line-height: 2;
}
.info-header {
  font-size: 47px;
}
.item-new {
  position: absolute;
  top: 28px;
  right: 28px;
  text-transform: uppercase;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  width: 64px;
  height: 64px; 
  line-height: 64px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.2);
}
.item-name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.traiding {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.servises-menu {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  min-height: 320px;
  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  border-right: 8px solid #000000;
  letter-spacing: 0.2em;
  justify-content: center;
}
.servises-item {
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
}
.servises-item a {
  display: inline-block;
  width: 160px;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, transparent 60%);
}
.servises-item a:hover {
  color: #000000;
  text-decoration: none;
  background-image: none;
  background-color: rgba(240, 197, 46, 1);
}
.servises-item a:active, .servises-item .current {
  color: #f7e184;
  padding-right: 120px;
  text-decoration: none;
  background-image: none;
  background-color: #000000;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-width: 300px;
  margin-left: 115px;
  margin-right: 105px;
  justify-content: center;
}
.logotypes {
  margin-top: 94px;
}
.logotypes ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pages {
  list-style: none;
  padding: 0;
}
.bar-pages {
  background-color: #ebebeb;
  height: 70px;
}
.pages {
  display: flex;
  flex-direction: row;
}
.preview a, .next a {
  display: inline-block;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}
.preview a, .next a, .page a {
  color: rgba(0, 0, 0, 1);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 70px;
}
.preview a:hover, .next a:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #d9d9d9;
}
.preview a:active, .next a:active {
  color: rgba(0, 0, 0, 0.3);
}
.page a {
  color: rgba(0, 0, 0, 0.3);
}
.page a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.page a:active, .page.current a {
  color: rgba(0, 0, 0, 1);
}
.info-wrapper {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}
.info, section.contacts {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 600px;
  justify-content: space-around;
}
.info p, section.contacts p {
  line-height: 2;
  margin: 0;
  letter-spacing: -0.033em;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}
section.contacts p,
section.contacts .info-header,
section.contacts .info-more,
.map {
  margin-left: 20px;
}
.info-more {
  width: 260px;
  padding: 0;
}
.info-header {
  margin-bottom: 0;
}
.traiding {
  line-height: 2.5;
  list-style: none;
  padding-left: 35px;
  margin-bottom: 5px;
}
footer {
  padding-top: 65px;
  min-height: 323px;
  background-color: #464646;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
}
footer a {
  text-decoration: none;
}
.footer-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer-container.main {
  width: 40%;
}
.footer-user ul, .footer-social ul, .footer-main ul {
  justify-content: center;
}
.footer-user ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  padding: 0;
  margin: 0px;
  margin-top: 5px;
  margin-left: 40px;
  justify-content: space-between;
}
.footer-user .login {
  margin-right: 0;
}
.footer-main ul {
  position: relative; 
  top: 55px;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  justify-content: space-around;
}
.footer-main a {
  letter-spacing: 0.2em;
  color: #ffffff;
}
.footer-user a {
  color: rgba(255, 255, 255, 0.6);
}
.footer-main a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.footer-user a:hover {
  color: #ffffff;
}
.footer-user a:active, .footer-main a:active {
  color: rgba(255, 255, 255, 0.3);
}
address, .phone {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
}
address {
  letter-spacing: -0.02em;
  margin-top: 30px;
}
.phone, .logo-html {
  margin-left: auto;
}
.phone {
  margin-top: 50px;
}
.logo-html {
  margin-top: 65px;
}
.footer-social {
  position: relative;
  top: 50px;
  margin: auto;
}
.footer-social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
}
.social-button {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}
.write-us {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 555px;
}
.write-us form {
  display: flex;
  flex-direction: column;
  width: 760px;
}
.write-us label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.write-us input, .write-us textarea {
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  background-color: #f2f2f2;
}
.write-us input {
  width: 360px;
  height: 50px;
}
.write-us textarea {
  width: 100%;
  height: 155px;
}
.input-wrapper {
  display: flex;
  flex-direction: row;
}
.write-us input:hover, .write-us textarea:hover {
  background-color: #eaeaea;
}
.write-us input:focus, .write-us textarea:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 1);
}
.write-us input:invalid {
  background-color: #f6dada;
}
.modal-close {
  width: 57px;
  height: 57px;
  border: none;
  color: white;
  background-color: rgba(240, 197, 46, 0.6);
  font-family: serif;
  font-size: 50px;
  border-radius: 50%;
  transform: rotate(45deg);
}
.modal-close:hover {
  background-color: rgba(240, 197, 46, 1);
}
.modal-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}
